.container {
    display: grid;
    grid-template-columns: 15px 15px 15px;
    grid-template-rows: 15px 15px 15px;
    grid-template-areas:
        "hd hd hd hd"
        "r1 r1 r2 r2"
        "sm sm sm sm";
    grid-gap: 5px;
    padding-left: 10px;
    margin: auto;
    border: 1px solid red;
    width: 100%;
}

.box {
    background-color: #444;
    border: 1px solid red;
}

#header {
    grid-area: hd;
}

#rollOne {
    grid-area: r1;
}

#rollTwo {
    grid-area: r2;
}

#sum {
    grid-area: sm;
}