.container {
    display: grid;
    grid-template-columns: 30px;
    grid-template-rows: 30px;
    grid-template-areas:
        "hs hs hs hs"
        "ms ms ms ms";
    grid-gap: 5px;
    padding-left: 10px;
    margin: auto;
    border: 1px solid red;
    width: 100%;
}

.box {
    background-color: #444;
    border: 1px solid red;
}

#handicapeSum {
    grid-area: hs;
}

#maxSum {
    grid-area: ms;
}
