.frame {
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'fr fr'
    'r1 r2'
    'fs fs';
  grid-gap: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin: 0.2rem;
  border: 1px solid grey;
  width: 100%;
}
.box {
  background-color: #444;
  border: 1px solid black;
}

#frame {
  grid-area: fr;
}

#rollOne {
  grid-area: r1;
}

#rollTwo {
  grid-area: r2;
}

#frameScore {
  grid-area: fs;
}
