.score {
  display: grid;
  grid-template-columns: repeat(2, fr);
  grid-template-rows: repeat(3, fr);
  grid-template-areas:
    'hl hl '
    'th ts'
    'mh ms';
  grid-row-gap: 0.2rem;
  grid-gap: 0.5rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin: 0.2rem;
  border: 1px solid grey;
}
.box {
  background-color: #444;
  border: 1px solid black;
}

#headLine {
  grid-area: hl;
}

#footer {
  grid-area: ft;
}

#totalScoreHeader {
  grid-area: th;
}

#totalScore {
  grid-area: ts;
}

#maxScoreHeader {
  grid-area: mh;
}

#maxScore {
  grid-area: ms;
}
